.advantages {
  padding-block: 100px;
  background-color: #e0e7ef;
}
.advantages__title {
  padding: 30px 300px 30px 50px;
  background-color: white;
  font-weight: 500;
  font-size: 42px;
  line-height: 63px;
}
.advantages__items {
  display: flex;
  gap: 23px;
}
.advantages__items-item {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.advantages__items-item-txt {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #003366;
}
.advantages__items-item-subtxt {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}