.container {
  padding-inline: 87px;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  gap: 100px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
}
