@import "colors";

.welcome {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-menu {
      display: flex;
      gap: 48px;
      align-items: center;
    }

    &-main {
      display: flex;
      gap: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: $color-blue;
        }

        img {
          width: 14px;
          height: 14px;
        }
      }
    }

    &-login {
      background-color: $color-blue;
      padding: 14px 30px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: white;
      border-radius: 14px;
    }
  }

  &__submenu {
    margin-top: 50px;
    display: flex;
    gap: 24px;

    &-inform {
      background-color: $color-blue;
      padding: 100px 80px;
      border-radius: 20px;
      flex-grow: 2;
      flex-basis: 0;
    }

    &-img {
      flex-grow: 1;
      flex-basis: 0;
    }

    &-title {
      color: white;
      font-weight: 600;
      font-size: 48px;
      line-height: 57px;
    }

    &-subtitle {
      color: white;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;

      button {
        margin-top: 40px;
        padding: 14px 20px;
        border-radius: 14px;
        color: $color-blue;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
